body.preload * {
  animation-duration: 0s !important;
}

.fade-in {
  opacity: 1;
  animation: fadeIn .2s ease-in;
}

.fade-out {
  opacity: 0;
  animation: fadeOut .2s ease-in;
}

.fade-in-loading {
  opacity: 1;
  animation: fadeIn .1s ease-in;
}

.fade-out-loading {
  opacity: 0;
  animation: fadeOut .1s ease-in;
}

.animated-shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.animated-shadow:hover {
  animation: fadeInShadow .2s forwards;
}

.animated-shadow:not(hover) {
  animation: fadeOutShadow .2s forwards;
}

.appear-from-top {
  opacity: 1;
  position: relative;
  z-index: 1;
  animation: appear-from-top .3s;
}

.disappear-to-top {
  opacity: 0;
  position: relative;
  z-index: 1;
  margin-bottom: -40px;
  animation: disappear-to-top .3s;
}

.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}

.heart-fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.heart-fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgb(255, 255, 255)50%, rgb(255, 255, 255) 100%);
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 100%);
}

@keyframes fadeInShadow {
  0% {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  100% {
    box-shadow: 0 4px 6px -1px #96d5ef;
  }
}

@keyframes fadeOutShadow {
  0% {
    box-shadow: 0 4px 6px -1px #96d5ef;
  }
  100% {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bg-appear {
  0% {
    background-color: white;
    color: black
  }

  100% {
    background-color: #2dacdf;
    color: white;
  }
}

@keyframes bg-disappear {
  0% {
    background-color: #2dacdf;
    color: white;
  }

  100% {
    background-color: white;
    color: black;
  }
}

@keyframes appear-from-top {
  0% {
    opacity: 0;
    position: relative;
    z-index: 1;
    margin-bottom: -40px;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
    transform: translateY(0);
  }
}

@keyframes disappear-to-top {
  0% {
    opacity: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    position: relative;
    z-index: 1;
    margin-bottom: -40px;
    transform: translateY(-40px);
  }
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }

  50% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }

  30% {
    left: -120%;
  }

  100% {
    left: 0;
  }
}

/* Trenutno nije preporuceno da se ne koristi */

.test-button {
  animation: gradientwhite .15s forwards;
}

@keyframes gradientwhite {
  0% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0) 0%, rgba(255, 255, 255, 0.05) 0%, #33c0f8 0%, #33c0f8 100%);
  }

  5% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.05) 4%, rgba(255, 255, 255, 0.1) 4%, #33c0f8 5%, #33c0f8 100%);
  }

  10% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.1) 9%, rgba(255, 255, 255, 0.15) 9%, #33c0f8 10%, #33c0f8 100%);
  }

  15% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.15) 14%, rgba(255, 255, 255, 0.2) 14%, #33c0f8 15%, #33c0f8 100%);
  }

  20% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.2) 19%, rgba(255, 255, 255, 0.25) 19%, #33c0f8 20%, #33c0f8 100%);
  }

  25% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.25) 24%, rgba(255, 255, 255, 0.3) 24%, #33c0f8 25%, #33c0f8 100%);
  }

  30% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.3) 29%, rgba(255, 255, 255, 0.35) 29%, #33c0f8 30%, #33c0f8 100%);
  }

  35% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.35) 34%, rgba(255, 255, 255, 0.4) 34%, #33c0f8 35%, #33c0f8 100%);
  }

  40% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.4) 39%, rgba(255, 255, 255, 0.45) 39%, #33c0f8 40%, #33c0f8 100%);
  }

  45% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.45) 44%, rgba(255, 255, 255, 0.5) 44%, #33c0f8 45%, #33c0f8 100%);
  }

  50% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.5) 49%, rgba(255, 255, 255, 0.55) 49%, #33c0f8 50%, #33c0f8 100%);
  }

  55% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.55) 54%, rgba(255, 255, 255, 0.6) 54%, #33c0f8 55%, #33c0f8 100%);
  }

  60% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.6) 59%, rgba(255, 255, 255, 0.65) 59%, #33c0f8 60%, #33c0f8 100%);
  }

  65% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.65) 64%, rgba(255, 255, 255, 0.7) 64%, #33c0f8 65%, #33c0f8 100%);
  }

  70% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.7) 69%, rgba(255, 255, 255, 0.75) 69%, #33c0f8 70%, #33c0f8 100%);
  }

  75% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.75) 74%, rgba(255, 255, 255, 0.8) 74%, #33c0f8 75%, #33c0f8 100%);
  }

  80% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.8) 79%, rgba(255, 255, 255, 0.85) 79%, #33c0f8 80%, #33c0f8 100%);
  }

  85% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.85) 84%, rgba(255, 255, 255, 0.9) 84%, #33c0f8 85%, #33c0f8 100%);
  }

  90% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.9) 89%, rgba(255, 255, 255, 0.95) 89%, #33c0f8 90%, #33c0f8 100%);
  }

  95% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.95) 94%, rgba(255, 255, 255, 1) 94%, #33c0f8 95%, #33c0f8 100%);
  }

  100% {
    color: #33c0f8;
    background: radial-gradient(circle at center, #33c0f8 99%, #33c0f8 100%, #33c0f8 100%);
  }
}

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0) 0%, #33c0f8 0%, #33c0f8 100%);
  }

  5% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.05) 4%, #33c0f8 5%, #33c0f8 100%);
  }

  10% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.1) 9%, #33c0f8 10%, #33c0f8 100%);
  }

  15% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.15) 14%, #33c0f8 15%, #33c0f8 100%);
  }

  20% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.2) 19%, #33c0f8 20%, #33c0f8 100%);
  }

  25% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.25) 24%, #33c0f8 25%, #33c0f8 100%);
  }

  30% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.3) 29%, #33c0f8 30%, #33c0f8 100%);
  }

  35% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.35) 34%, #33c0f8 35%, #33c0f8 100%);
  }

  40% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.4) 39%, #33c0f8 40%, #33c0f8 100%);
  }

  45% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.45) 44%, #33c0f8 45%, #33c0f8 100%);
  }

  50% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.5) 49%, #33c0f8 50%, #33c0f8 100%);
  }

  55% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.55) 54%, #33c0f8 55%, #33c0f8 100%);
  }

  60% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.6) 59%, #33c0f8 60%, #33c0f8 100%);
  }

  65% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.65) 64%, #33c0f8 65%, #33c0f8 100%);
  }

  70% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.7) 69%, #33c0f8 70%, #33c0f8 100%);
  }

  75% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.75) 74%, #33c0f8 75%, #33c0f8 100%);
  }

  80% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.8) 79%, #33c0f8 80%, #33c0f8 100%);
  }

  85% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.85) 84%, #33c0f8 85%, #33c0f8 100%);
  }

  90% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.9) 89%, #33c0f8 90%, #33c0f8 100%);
  }

  95% {
    background: radial-gradient(circle at center, rgba(51, 192, 248, 0.95) 94%, #33c0f8 95%, #33c0f8 100%);
  }

  100% {
    color: #33c0f8;
    background: radial-gradient(circle at center, #33c0f8 99%, #33c0f8 100%, #33c0f8 100%);
  }
}