.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 100;
  display: none;
}

.overlay.show {
  display: block;
}

.h-page {
  height: calc(100vh - 200px);
}

.h-220 {
  height: 220px;
}

.w-200 {
  width: 48rem;
}

.w-250 {
  width: 56rem;
}

.w-65 {
  width: 65px;
}

.max-w-405 {
  max-width: 405px;
}

.max-w-160 {
  max-width: 160px;
}

.max-h-page {
  max-height: calc(100vh - 200px);
}

div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Za sakrivanje scrollbar-a */
.hidescrollbar::-webkit-scrollbar {
  display: none;
}

/* Dodavanje custom scrollbar-a */
body {
  background-color: rgb(30 0 30);
  border-right: 1px solid #7832b4;
  border-color: #5700a2;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5700a2;
  border-radius: 5px;
  border: solid 2px #5700a2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5700a2;
  border-radius: 5px;
  border: solid 2px #5700a2;
}