.bg-primary {
  background-color: #5700a2;
}

.star-rating {
  filter: invert(76%) sepia(42%) saturate(2377%) hue-rotate(359deg) brightness(101%) contrast(104%);
}

.filter-primary {
  filter: invert(76%) sepia(37%) saturate(5404%) hue-rotate(164deg) brightness(91%) contrast(92%);
}

.filter-secondary {
  filter: invert(76%) sepia(37%) saturate(5404%) hue-rotate(164deg) brightness(80%) contrast(92%);
}

.filter-gray {
  filter: invert(77%) sepia(9%) saturate(357%) hue-rotate(179deg) brightness(84%) contrast(86%);
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(59deg) brightness(111%) contrast(101%);
}

.card-selected {
  box-shadow: 0 0 6px 3px #301448 !important;
}

.table-color-row {
  background-color: rgb(245, 255, 255);
}

.bg-secondary {
  background-color: black;
}

.bg-accent {
  background-color: red;
}

.outline-primary {
  outline-color: #5700a2;
}

.outline-primary:hover {
  outline-color: #7832b4;
}

.outline-primary:focus {
  outline-color: #7832b4;
}

.color-button {
  background-color: #5700a2;
  border-width: 1px;
  border-color: #5700a2;
}

.color-button:hover {
  background-color: #7832b4;
  border-width: 1px;
  border-color: #5700a2;
}

.color-button:active {
  background-color: #5700a2;
  border-width: 1px;
  border-color: #5700a2;
  color: rgb(200 200 200)
}

.color-button:disabled {
  background-color: rgb(17 24 39);
  border-color: rgb(60 60 60);
  color: rgb(130 137 150);
}

.color-button-sel {
  background-color: #7832b4;
  border: 1px solid #5700a2;
  color: black;
  cursor: default;
}

.color-button-unsel {
  background-color: black;
  border: 1px solid #5700a2;
  color: black;
}

.color-button-unsel:hover {
  background-color: #5700a2;
  border-color: #5700a2;
  color: black;
  animation: bg-appear .3s;
}

.color-button-unsel:not(hover) {
  animation: bg-disappear .3s;
}

.color-button-list {
  background-color: black;
  color: white;
}

.color-button-list:hover {
  background-color: #5700a2;
  color: black;
  animation: bg-appear .2s;
}

.color-button-list:not(hover) {
  background-color: black;
  color: white;
  animation: bg-disappear .2s;
}

.color-button-list:active {
  background-color: #5700a2;
  color: black;
}

.color-button-list:focus {
  outline: 1px solid #5700a2;
}

.color-button-list:disabled {
  background-color: rgb(229 231 235);
  color: white;
  animation: none;
}

.color-button-taken:hover {
  background-color: #5700a2;
  color: black;
}

.item {
  background-color: black;
  color: white;
}

.item:hover {
  background-color: #5700a2;
  color: black;
}